	<div class="row">
		<p id="notice" class='text-center'><%= notice %></p>
	</div>

	<div class="row">
		<div class='text-center'>
			<h1>Log-in!</h1>	
		</div>
	</div>

	<div class="row">
		<div class='large-12 columns text-center'>
			<%if params[:error_message] != nil %>
				<p class="text-danger"><%= params[:error_message] %></p>
			<% end %> 
			</div>
	</div>

	<%= form_for @user, :url => { :controller => "sessions", :action => "create" }, data:{abide: ''} do |f| %> <!-- See the comment under the f.submit line for details. the url tells it to go to the sessions path, create method instead-->

	<div class='row'>
		<div class='large-4 large-offset-4 columns text-center'>
				<%= f.label :email %><br>
				<%= f.text_field :email, placeholder: 'email', class: 'signupfield radius' %>
				<small class="error">Please enter your email.</small>
		</div>
	</div>
	<div class='row'>
		<div class='large-4 large-offset-4 columns text-center'>
			<%= f.label :password %><br>
			<%= f.password_field :password, placeholder: 'password', class: 'signupfield radius' %>
		</div>
	</div>
	<div class='row'>
		<div class='large-4 large-centered columns text-center'>
			<p><%=f.submit 'Log yourself in', class: 'button radius' %> </p><!-- This will post back to the users controller by default because it's a user. We need to override this behavior -->
		</div>
	</div>
	<div class='row text-center'>
			<p><%= link_to 'Forgot password?', new_password_reset_path, class: 'text-center' %></p>
	</div>

	<% end %>

	<div class="row">
		<div class=''></div>
		<div class='text-center'>
			<%= link_to 'New user? Create an account here', new_user_path %>
		</div>
		<div class=''></div>
	</div>
</div>