
        <!-- hero image -->
        <div class="row">
          <div class="large-12 columns nopadding">
        <!-- benefits bar start -->
            <div class="hide-for-small">
              <div id="featured">
                    <%= image_tag 'bike_woman.jpg' %>
                <div class='large-3 columns large-offset-1' id='splash'>
                  <div class='row'>
                    <div class='large-12 columns text-center'>
                      <%= image_tag 'offerup_logo_blue_mono.png', class: 'logo_splash' %>
                      <h3 id='splash_text'>Your social economy.</h3>
                      <div class='row'>    
                        <div class='splash_icons large-4 columns' id="topLeft">
                          <div class='text-center' id='bike'>
                            <%= fa_icon 'bicycle' %>
                          </div>
                          <h4>Sports</h4>
                        </div>
                        <div class='splash_icons large-4 columns' id="topRight">
                          <div class='text-center' id='camera'>
                            <%= fa_icon 'camera' %>
                          </div>
                          <h4>Tech</h4>
                        </div>
                      </div>
                      <div class='row'>    
                        <div class='splash_icons large-4 columns' id="bottomLeft">
                          <div class='text-center' id='wrench'>
                            <%= fa_icon 'wrench' %>
                          </div>
                          <h4>Tools</h4>
                        </div>
                        <div class='splash_icons large-4 columns' id="bottomRight">
                          <div class='text-center' id='suitcase'>
                            <%= fa_icon 'suitcase' %>
                          </div>
                          <h4>Travel</h4>
                        </div>
                      </div>
                  </div>
                 </div>
                 <!-- benefits bar end -->

          <!-- TODO: Add small size photo for responsive -->
          <div class="row">
            <div class="small-12 show-for-small"><br>
              <img src="http://placehold.it/1000x600&text=For Small Screens"/>
            </div>
          </div>
        </div>
        </div><br> 
        <!-- end featured div -->

        <!-- start quote section -->
        <div class='row'>
          <div class='large-12 columns text-center quote'>
            <h3>"We've wired our world to share...creating an economy of 'what's mine is yours.'"</h3>
            <h5>Rachel Botsman, "The Case of Collaborative Consumption"</h5>
          </div>
        </div>
        <hr />
        <!-- end quote section -->

        <!-- value proposition start -->
        <div class="row">
          <div class="large-12 columns">
            <h3 class='text-center'>Value Proposition</h3>
            <div class="row">

              <div class="large-4 small-6 columns value">
                <%= image_tag 'bike_500_square.jpg' %>
                <h6 class="">
                  Lomo whatever tilde PBR, trust fund mustache Kickstarter art party brunch cred street art. Locavore DIY twee Godard. Leggings bitters +1 Vice Pitchfork, health goth small batch put a bird on it direct trade. Marfa selfies VHS lomo, sustainable cronut pork belly Blue Bottle salvia Tumblr.
                </h6>
              </div>

              <div class="large-4 small-6 columns value">
                <%= image_tag 'surf_500_square.jpg' %>
                <h6 class="">
                  Lomo whatever tilde PBR, trust fund mustache Kickstarter art party brunch cred street art. Locavore DIY twee Godard. Leggings bitters +1 Vice Pitchfork, health goth small batch put a bird on it direct trade. Marfa selfies VHS lomo, sustainable cronut pork belly Blue Bottle salvia Tumblr.
                </h6>
              </div>

              <div class="large-4 small-6 columns value">
                <%= image_tag 'mower_500_square.jpg' %>
                <h6 class="">
                  Lomo whatever tilde PBR, trust fund mustache Kickstarter art party brunch cred street art. Locavore DIY twee Godard. Leggings bitters +1 Vice Pitchfork, health goth small batch put a bird on it direct trade. Marfa selfies VHS lomo, sustainable cronut pork belly Blue Bottle salvia Tumblr.
                </h6>
              </div>

            </div>
            <br />
            <div class='row text-center'>
            <%= link_to 'SIGN UP', new_user_path, class: 'button large-3 columns large-centered' %>
          </div>
          </div>
        </div>
        <hr />
        <!-- how it works section -->
        <h3 class='text-center'>HOW IT WORKS</h3>
        <div class="large-4 small-6 columns value">
          <img src="http://placehold.it/150x150&text=Thumbnail"/>
          <h6 class="">
            Lomo whatever tilde PBR, trust fund mustache Kickstarter.
          </h6>
        </div>

        <div class="large-4 small-6 columns value">
          <img src="http://placehold.it/150x150&text=Thumbnail"/>
          <h6 class="">
            Lomo whatever tilde PBR, trust fund mustache Kickstarter.
          </h6>
        </div>

        <div class="large-4 small-6 columns value">
          <img src="http://placehold.it/150x150&text=Thumbnail"/>
          <h6 class="">
            Lomo whatever tilde PBR, trust fund mustache Kickstarter.
          </h6>
        </div>

        <!-- end how it works section -->

        <footer class="row">
          <div class="large-12 columns">
            <hr>
            <div class="row">
              <div class="large-6 columns">
                <p>© Copyright no one at all. Go to town.</p>
              </div>
              <div class="large-6 columns">
                <ul class="inline-list right">
                  <li><a href="#">Link 1</a></li>
                  <li><a href="#">Link 2</a></li>
                  <li><a href="#">Link 3</a></li>
                  <li><a href="#">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </footer>
