<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='large-10 columns'>
    <div class='row'>

      <!-- user photo -->
      <div class='large-3 columns'>
        <% if !@user.photo_file_name.nil? %>
          <%= image_tag @user.photo.url("medium") %>
        <% else %>
          <%= image_tag 'mysteryperson.jpg' %> <br />
        <% end %>
      </div>

      <!-- user profile info -->
      <div class='large-2 columns'>
        <h3><%= @user.first_name %> <%= @user.last_name %></h3>
        <p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>
        <p><%= @user.city %>, <%= @user.state %></p>
        <p><%= @user.friendships.count %> friends</p>
      </div>

      <!-- add more friends button -->
      <div class='large-4 columns'>
        <!-- creates array of current_user's friends. will check if user visiting page is already a friend of current_user -->
        <% friendsArray = current_user.friendships.pluck(:friend_id) %>
        <!-- prevents user from adding self, prevents people who are already friends with current_user from adding again-->
        <% if current_user.id != params[:id].to_i && !friendsArray.include?(params[:id].to_i)%>
          <%= link_to 'Add Me As a Friend', friendships_path(:friend_id => params[:id]), method: :post %>
        <% end %>
      </div>
      <!-- map -->
      <div class='large-3 columns'>MAPSIES!
      </div>
    </div>

    <!-- goods display starts -->
    <div class='row'>
      <% @goods.each do |g| %>
      <div class='large-3 columns good_display'>
        <!-- If the user didn't upload an image for the good, use the placeholder product image -->
        <% if !g.photo_file_name.nil? %>
          <%= image_tag g.photo.url('medium') %><br />
        <% else %>
          <%= image_tag 'black-drill-sihouette.png' %> <br />
        <% end %>
        Name<br>
        <%= g.name %> (<%= link_to 'Edit', edit_good_path(g)  %>)<br />
      </div>
      <% end %>
    </div>
    <!-- add more stuff button -->
    <% if current_user.id == params[:id].to_i %>
      <%= link_to 'Add More Goods', new_good_path(user_id: @user.id), class: 'button radius' %>
    <% end %>
  </div>

  <!-- Right sidebar displaying all friends -->
  <div class='large-2 columns'>
    <h4 class='text-center'>My Friends</h4>
    <% for friendship in @user.friendships %>
    <div class='row'>
      <div class='large-4 columns'>
        <%#= link_to '#', user_path(friendship.friend) do %>
          <% if !friendship.friend.photo_file_name.nil? %>
            <%= link_to image_tag(friendship.friend.photo.url("medium")), user_path(friendship.friend)%>
          <% else %>
            <%= link_to image_tag('mysteryperson.jpg'), user_path(friendship.friend) %> <br />
          <% end %>
        <%# end %>
      </div>
      <div class='large-8 columns'>
        <%= link_to friendship.friend.first_name, user_path(friendship.friend)%> 
        <% if current_user.id == params[:id].to_i %>
          (<%= link_to 'remove', friendship, method: :delete %>)
        <% end %>
      </div>
    </div>
    <% end %>
    <% if current_user.id == params[:id].to_i %>  
      <%= link_to 'Add Friends', users_path, class: 'button radius' %>
    <% end %>
  </div>
</div>
