<p id="notice"><%= notice %></p>

<%= image_tag @user.photo.url("medium") %>

<h3>My friends</h3>
<ul>
  <% for user in @user.friends %>
    <li>
      <%= user.first_name %>
    </li>
  <% end %>
</ul>
<hr>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @user.zip_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @user.state %>
</p>


<%= link_to 'Add New Good', new_good_path(user_id: @user.id) %> |

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
