<p id="notice"><%= notice %></p>

<h1>Listing Goods</h1>

<table>
  <thead>
    <tr>
      <th class='pictureTableCell'></th>
      <th>Name</th>
      <th class='goodDescTableCell'>Description</th>
      <th class='goodLocTableCell'>Location</th>
      <th>Owner</th>
    </tr>
  </thead>

  <tbody>
    <% @goods.each do |good| %>
      <tr>
        <td><%= link_to image_tag(good.photo.url("thumb")), good_path(good) %></td>
        <td><%= link_to good.name, good_path(good),class:'textLinkHover' %></td>
        <td><%= good.description %></td>
        <td><%= good.city %>, <%= good.state %> <%= good.zip_code %></td>
        <td><%= good.user.first_name %> <%= good.user.last_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

