<p id="notice"><%= notice %></p>

<% if !@good.photo_file_name.nil? %>
  <%= image_tag @good.photo.url("medium") %>
<% else %>
  <%= image_tag 'black-drill-sihouette.png' %> <br />
<% end %>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @good.description %>
</p>

<p>
  <strong>City:</strong>
  <%= @good.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @good.state %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @good.user.first_name %> <%= @good.user.last_name %>
</p>

<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
