<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @good.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @good.description %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @good.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @good.longitude %>
</p>

<p>
  <strong>User:</strong>
  <%= @good.user_id %>
</p>

<%= link_to 'Edit', edit_good_path(@good) %> |
<%= link_to 'Back', goods_path %>
