<!DOCTYPE html>
<html>
<head>
  <title>OfferUp</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user == nil %>
  <li><%= link_to 'Sign In', new_sessions_path %></li>
<% else %>
  <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
<% end %>
<%= yield %>

  <font color='red'>
    This is for troubleshooting only. Delete this later
    <br>
    <hr>
    <h3>Parameters (for troubleshooting. delete later!)</h3>
    <%= params.inspect %>
    <p>Session ID: <p>
    <%=session['user_id']%>
  </font>
</body>
</html>
