<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to new_sessions_path do %>
      <%= image_tag 'offerup_logo_blue.png', class: 'navLogo' %>
      <% end %></h1>
    </li>
    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
        <% if current_user == nil %>
        <li><%= link_to 'Sign In', new_sessions_path %></li>
        <% else %>
        <li><%= link_to 'My Dashboard', user_path(current_user)%></li>
        <li><%= link_to "Log Out", sessions_path, method: :delete %></li>
        <% end %>
      <li class="has-dropdown">
        <a href="#">Right Button Dropdown</a>
        <ul class="dropdown">
          <li><a href="#">First link in dropdown</a></li>
          <li class="active"><a href="#">Active link in dropdown</a></li>
        </ul>
      </li>
    </ul>
</ul>
</nav>
  <%= yield %>
<font color='red'>
    <hr>
    <h3>Parameters (for troubleshooting. delete later!)</h3>
    <%= params.inspect %>
    <p>Session ID: <p>
    <%=session['user_id']%>
  </font>
  <%= javascript_include_tag "application" %>
  </body>
</html>
