<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <% if current_user == nil %>
    <%= link_to 'Sign In', new_sessions_path %>
  <% else %>
    <%= link_to "Log Out", sessions_path, method: :delete %> |
    <%= link_to 'Back to my dashboard', user_path(current_user) %>
  <% end %>

    <%= yield %>
  <font color='red'>
    <hr>
    <h3>Parameters (for troubleshooting. delete later!)<%= fa_icon "camera-retro" %></h3> 
    <%= params.inspect %>
    <p>Session ID: <p>
    <%=session['user_id']%>
  </font>
  </body>
</html>
